body {
  background: #f4f4f4;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background: #fff;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  text-align: center;
  width: 320px;
  border: 2px solid #000000;
}
.amount {
  color: #179146;
  font-size: 2rem;
  margin-bottom: 24px;
}
.btn {
  width: 80%;
  padding: 14px;
  font-size: 1rem;
  border: none;
  border-radius: 7px;
  margin: 10px 0;
  cursor: pointer;
  color: #fff;
  transition: background 0.2s;
}
.deposit {
  background: #43b867;
}
.withdraw {
  background: #ed3b3b;
}
.deposit:hover {
  background: #36a959;
}
.withdraw:hover {
  background: #d53232;
}
